ib-insync==0.9.65
bs4==0.0.1
yahoo-earnings-calendar==0.6.0
numpy==1.20.1
pandas==1.2.3
matplotlib==3.4.1
mplfinance==0.12.7a17
ZigZag @ git+git://github.com/tomas-rampas/ZigZag.git@2aa553bb23c86e3c22bccdf4cd67c515a24f5b45